/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: black;
}

h1 {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #060ce9;
  text-shadow: 1px 1px yellow;
}

#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
  margin: 0 auto;
}

#jeopardy th,
#jeopardy td {
  border: solid 1px white;
  width: 10em;
  padding: 0.5em;
}

#jeopardy td.disabled {
  background-color: #28a200;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 8em;
  font-family: Copse, serif;
}

button,
td {
  cursor: pointer;
}

.fa-question-circle {
  pointer-events: none;
}

.center-text {
  text-align: center;
}

#start {
  background-color: #c6d709;
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin: 0.75em 0;
}

#start:hover,
#start.disabled {
  background-color: #c6d709;
}

.disabled {
  cursor: not-allowed;
}

#spin-container {
  font-size: 12em;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 25px;
  display: none;
}
